<a href="/profile/<%= encodeURI(profile) %>" class="profile" itemprop="member" itemscope itemtype="http://schema.org/Person">
    <div class="profile__thumb">
        <img itemprop="image"
             alt="<%= content.profiles[profile].name.first %> <%= content.profiles[profile].name.last %>"
             src="<%= content.profiles[profile].avatar %>?s=40">
    </div>
    <div class="profile__body">
        <div class="profile__name">
            <span itemprop="name"><%= content.profiles[profile].name.first %> <%= content.profiles[profile].name.last %></span>
            (<span itemprop="alternateName" class="profile__nick"><%= content.profiles[profile].name.nick %></span>)
        </div>
        <div class="profile__desc"
             itemprop="description"><%= content.profiles[profile].position %> </div>
    </div>
</a>

<% if (content.profiles[profile].hasOwnProperty('networks')) { %>
<ul class="networks">
    <% for(var j = 0; j < content.profiles[profile].networks.length; j++) { %>
    <li class="networks__item">
        <a class="networks__link" target="_blank" href="<%= content.profiles[profile].networks[j].link %>"><i
                    class="fa <%= content.profiles[profile].networks[j].icon %>" aria-hidden="true"></i></a>
    </li>
    <% } %>
</ul>
<% } %>