<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
    <title><%= pkg.name %> - Software development by Florian Gudat</title>
    <meta name="description" content="<%= pkg.description %>">
</head>

<body class="page">
<% include ../partials/masthead.ejs %>

<main class="page__body page__body--centered">
    <article class="page__article">
        <div class="content">
            <div class="content__body">
                <section class="content__section content__section--centered">
                    <div class="title">
                        <h1 class="title__headline">
                            <%= pkg.name %>
                        </h1>
                        <div name="claim">Software Development</div>
                    </div>
                </section>
                <aside class="content__aside">
                    <div class="vertical-text"><%= pkg.author %></div>
                </aside>
            </div>
            <footer class="content__footer">
                <% include ../partials/footer.ejs %>
            </footer>
        </div>
    </article>
    <aside class="page__aside">
        <div class="vertical-text2"><%= pkg.description %></div>
    </aside>
</main>
<% include ../partials/scripts.ejs %>
</body>
</html>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">