<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
    <title>
        <%= request.profile %>
        | <%= pkg.name %></title>
    <meta name="description" content="<%= pkg.description %>">
</head>

<body class="page" itemscope itemtype="http://schema.org/Organization">
<% include ../partials/masthead.ejs %>

<main class="page__body page__body--centered">

    <% for(profile in content.profiles) { %>
    <% if (profile === request.profile) { %>
    <article class="page__article" itemprop="member" itemscope itemtype="http://schema.org/Person">
        <div class="content">
            <div class="content__body">
                <section class="content__section content__section--centered@widescreen">
                    <div class="content__column content__column--left content__column--centered">
                        <div class="title">
                            <h2 class="title__headline" itemprop="name">
                                <%= content.profiles[profile].name.first %> <%= content.profiles[profile].name.last %>
                            </h2>
                            <div name="claim" itemprop="description"><%= content.profiles[profile].position %></div>
                        </div>

                        <div style="padding: 1rem">
                            <img style="border-radius: 50%" itemprop="image"
                                 alt="<%= content.profiles[profile].name.first %> <%= content.profiles[profile].name.last %>"
                                 src="<%= content.profiles[profile].avatar %>?s=64">
                        </div>

                        <div style="text-transform: uppercase"
                             itemprop="alternateName"><%= content.profiles[profile].name.nick %></div>

                    </div>
                    <div class="content__column content__column--right">

                        <p>If you want to stay in touch or see any of my social activities, pick one of the listed
                            networks and find out more:</p>

                        <ul class="networks">
                            <% for ( network in content.profiles[profile].networks ) { %>
                            <% if (content.profiles[profile].networks[network].icon) { %>
                            <li class="networks__item"><a class="networks__link"
                                                          title="<%= content.profiles[profile].networks[network].name %>"
                                                          href="<%= content.profiles[profile].networks[network].link %>"
                                                          target="_blank">
                                    <i class="fa fa-lg <%= content.profiles[profile].networks[network].icon %>"
                                       aria-hidden="true"></i>
                                </a></li>
                            <% } %>
                            <% } %>
                        </ul>
                        <p>The access to my portfolio and curriculum vitae is restricted. Please enter your email
                            address
                            and send me a request if you want to have access.</p>
                        <% include ../partials/mailchimp.ejs %>

                        <p>You will receive my private data by mail, after successfully subscribing to
                            the mailing list. As you subscribe to this feed you will receive updates on about new
                            projects and any other updates.</p>

                    </div>

                </section>
                <aside class="content__aside">
                    <div class="vertical-text"><%= pkg.author %></div>
                </aside>
            </div>
            <footer class="content__footer">
                <% include ../partials/footer.ejs %>
            </footer>
        </div>
    </article>
    <% } %>
    <% } %>

    <aside class="page__aside">
        <div class="vertical-text2"><%= pkg.description %></div>
    </aside>
</main>
<% include ../partials/scripts.ejs %>
</body>
</html>
